/*use this to just make the emails*/
.email-body{
  color: #05386B;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.smaller-text{
  color: gray;
  font-size: 10px;
}

.button {
  background-color: #05386B;
  border: none;
  color: white;
  padding: 20px 34px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
}